<h1 class="page-title">Export Data</h1>

<p>Please download exported file from the following button</p>
<%= link_to 'Export Data', importer_download_file_path, :class => 'btn btn-success', data: { no_turbolink: true } %>
